<section id="main-section" class="bg-primary-dark mt-60 min-h-screen mb-100">
    <div class="grid grid-cols-10 grid-rows-12 gap-x-8 gap-y-8 pl-20 pr-20 pb-100 pt-100 w-full text-4xl text-center font-bold h-[80vh]">
        <!-- Botón 1 -->
        <div class="col-span-5 row-span-9 rounded-2xl p-[2px] bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500 items-center justify-center hover:shadow-2xl hover:shadow-purple-600/30 transition ease-in-out duration-300 card">
            <div class="card-inner">
                <div class="card-front rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center ">
                    About Me
                </div>
                <div class="card-back rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center">
                    <p>Some text about me...</p>
                </div>
            </div>
        </div>
        <!-- Botón 2 -->
        <div class="col-span-5 row-span-5 col-start-6 rounded-2xl p-[2px] bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500 items-center justify-center hover:shadow-2xl hover:shadow-purple-600/30 transition ease-in-out duration-300 card">
            <div class="card-inner">
                <div class="card-front rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center">
                    Education
                </div>
                <div class="card-back rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center">
                    <p>Some text about education...</p>
                </div>
            </div>
        </div>
        <!-- Botón 3 -->
        <div class="col-span-5 row-span-4 col-start-6 row-start-6 rounded-2xl p-[2px] bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500 items-center justify-center hover:shadow-2xl hover:shadow-purple-600/30 transition ease-in-out duration-300 card">
            <div class="card-inner rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center">
                <div class="card-front flex items-center justify-center rounded-2xl bg-primary-dark h-full w-full">
                    Experience
                </div>
                <div class="card-back rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center">
                    <p>Some text about experience...</p>
                </div>
            </div>
        </div>
        <!-- Botón 4 -->
        <div class="col-span-5 row-span-3 row-start-10 rounded-2xl p-[2px] bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500 items-center justify-center hover:shadow-2xl hover:shadow-purple-600/30 transition ease-in-out duration-300 card">
            <div class="card-inner">
                <div class="card-front rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center">
                    NilGrafic
                </div>
                <div class="card-back rounded-2xl bg-primary-dark h-full w-full flex flex-col justify-between py-6">
                    <div class="text-3xl font-semibold">Wordpress Web Page</div>
                    
                    <div class="text-base">
                        <a href="https://nilgrafic.com/" target="_blank" rel="noopener noreferrer" class="group text-accent-purple transition duration-300">
                            Click here to Discover
                            <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-accent-purple"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Botón 5 -->
        <div class="col-span-5 row-span-3 col-start-6 row-start-10 rounded-2xl p-[2px] bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500 items-center justify-center hover:shadow-2xl hover:shadow-purple-600/30 transition ease-in-out duration-300 card">
            <div class="card-inner">
                <div class="card-front rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center">
                    Divine Web
                </div>
                <div class="card-back rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center">
                    <a href="#" class="group text-accent-purple transition duration-300">
                        Coming Soon
                        <span class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-accent-purple"></span>
                        </a>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.card {
    perspective: 1000px;
    min-height: 200px; /* Altura mínima para las cards */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem; /* Cambiado de 2xl a 1rem para garantizar que funcione */
    padding: 2rem; /* Añadido padding interno para más espacio */
}

.card-back {
    transform: rotateY(180deg);
    /* Color de fondo para la parte trasera */
}

/* Ajuste para alinear el grid a una altura específica */
@media (min-height: 800px) {
    .grid {
        grid-template-rows: repeat(12, minmax(60px, 1fr));
    }
}
</style>