<section id="main-section" class="bg-primary-dark mt-60 min-h-screen mb-100">
  <div
    class="grid grid-cols-10 grid-rows-12 gap-8 pl-20 pr-20 pb-100 pt-100 w-full text-4xl text-center font-bold h-[80vh]"
  >
    <!-- Botón 1 - About Me -->
    <div
      class="col-span-6 row-span-8 rounded-2xl p-[2px] bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500 items-center justify-center hover:shadow-2xl hover:shadow-purple-600/30 transition ease-in-out duration-300 card"
    >
      <div class="card-inner">
        <div
          class="card-front rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center"
        >
          About Me
        </div>
        <div class="card-back rounded-2xl bg-primary-dark h-full w-full flex flex-col justify-center p-8">
          <h3 class="text-6xl font-bold mb-4 text-transparent bg-clip-text bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500">
            Mario Santos
          </h3>
          <p class="text-3xl text-left leading-relaxed">
            I'm a Developer focused primarily in <span class="font-semibold text-accent-purple">Front End</span>!
          </p>
          <p class="text-2xl text-left leading-relaxed mt-10">
            Since I was a kid, electronics and computers have been my passion, and now I'm making it my profession.
          </p>
          <p class="text-2xl text-left leading-relaxed mt-2">
          My second passion is music, and I really like to blend my two passions together.
          </p>
          <p class="text-2xl text-left leading-relaxed mt-2">
            I'm a very curious person, always looking for new challenges and learning new things. Also, I'm very hardworking and always give my best in everything I do.
          </p>
        </div>
      </div>
    </div>

    <!-- Botón 2 - Education -->
    <div
      class="col-span-4 row-span-4 col-start-7 rounded-2xl p-[2px] bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500 items-center justify-center hover:shadow-2xl hover:shadow-purple-600/30 transition ease-in-out duration-300 card"
    >
      <div class="card-inner">
        <div
          class="card-front rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center"
        >
          Education
        </div>
        <div
          class="card-back rounded-2xl text-xl bg-primary-dark h-full w-full flex flex-col justify-evenly py-4 px-2"
        >
          <div class="text-center mb-2">
            <h4 class="font-bold text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Web Development</h4>
            <p class="text-base">Superior Degree</p>
            <p class="text-base">UOC 2024-2025</p>
          </div>

          <div class="w-full border-t border-gray-600 my-1"></div>

          <div class="text-center mb-2">
            <h4 class="font-bold text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">App Development</h4>
            <p class="text-base">Superior Degree</p>
            <p class="text-base">INS Pedralbes 2021-2023</p>
          </div>

          <div class="w-full border-t border-gray-600 my-1"></div>

          <div class="text-center">
            <h4 class="font-bold text text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Bachelor Degree</h4>
            <p class="text-base">Social Science</p>
            <p class="text-base">IES Francisco de GOYA 2019-2021</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Botón 3 - Experience -->
    <div
      class="col-span-4 row-span-4 col-start-7 row-start-5 rounded-2xl p-[2px] bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500 items-center justify-center hover:shadow-2xl hover:shadow-purple-600/30 transition ease-in-out duration-300 card"
    >
      <div
        class="card-inner rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center"
      >
        <div
          class="card-front flex items-center justify-center rounded-2xl bg-primary-dark h-full w-full"
        >
          Experience
        </div>
        <div
          class="card-back rounded-2xl text-lg bg-primary-dark h-full w-full flex flex-col justify-start py-2 px-2 "
        >
          <div class="text-center mb-1">
            <h4 class="font-bold text-sm md:text-base text-transparent bg-clip-text bg-gradient-to-r to-orange-600 from-red-200">React Front End Developer</h4>
            <p class="text-xs md:text-sm">MSR Informatica</p>
            <p class="text-xs md:text-sm">2023-2023</p>
          </div>

          <div class="w-full border-t border-gray-600 my-0.5"></div>

          <div class="text-center mb-1">
            <h4 class="font-bold text-sm md:text-base text-transparent bg-clip-text bg-gradient-to-r to-orange-600 from-red-200">Administrative</h4>
            <p class="text-xs md:text-sm">Hospital Clinic</p>
            <p class="text-xs md:text-sm">2024-2025</p>
          </div>

          <div class="w-full border-t border-gray-600 my-0.5"></div>

          <div class="text-center mb-1">
            <h4 class="font-bold text-sm md:text-base text-transparent bg-clip-text bg-gradient-to-r to-orange-600 from-red-200">Storage Manager</h4>
            <p class="text-xs md:text-sm">Inditex ESP</p>
            <p class="text-xs md:text-sm">2023-2024</p>
          </div>

          <div class="w-full border-t border-gray-600 my-0.5"></div>

          <div class="text-center">
            <h4 class="font-bold text-sm md:text-base text-transparent bg-clip-text bg-gradient-to-r to-orange-600 from-red-200">Cuissine and Logistics</h4>
            <p class="text-xs md:text-sm">Aramark</p>
            <p class="text-xs md:text-sm">2022-2024</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Botón 4 - Projects Heading -->
    <div
      class="col-span-4 row-span-2 col-start-4 row-start-9 flex justify-center items-center"
    >
      <h1 class="text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-300 via-red-400 to-yellow-200">PROJECTS</h1>
    </div>

    <!-- Botón 5 - Project 1 -->
    <div
      class="col-span-5 row-span-2 row-start-11 rounded-2xl p-[2px] bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500 items-center justify-center hover:shadow-2xl hover:shadow-purple-600/30 transition ease-in-out duration-300 card"
    >
      <div class="card-inner">
        <div
          class="card-front rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center"
        >
          NilGrafic
        </div>
        <div
          class="card-back rounded-2xl bg-primary-dark h-full w-full flex flex-col justify-between py-6"
        >
          <div class="text-3xl font-semibold">Wordpress Web Page</div>

          <div class="text-base">
            <a
              href="https://nilgrafic.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="group text-accent-purple transition duration-300"
            >
              Click here to Discover
              <span
                class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-accent-purple"
              ></span>
            </a>
          </div>
          <div class="p-[1px] bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500 items-center justify-center hover:shadow-2xl hover:shadow-purple-600/30 transition ease-in-out duration-300 rounded-full mt-14 ">
            <button class="bg-primary-dark rounded-full text-sm flex">
              
                <img src="/wordpress.svg" alt="" class=" size-6"> Wordpress </img>
            </button>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Botón 6 - Project 2 -->
    <div
      class="col-span-5 row-span-2 col-start-6 row-start-11 rounded-2xl p-[2px] bg-gradient-to-r from-purple-500 via-red-500 to-yellow-500 items-center justify-center hover:shadow-2xl hover:shadow-purple-600/30 transition ease-in-out duration-300 card"
    >
      <div class="card-inner">
        <div
          class="card-front rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center"
        >
          Divine Web
        </div>
        <div
          class="card-back rounded-2xl bg-primary-dark h-full w-full items-center flex justify-center"
        >
          <a href="#" class="group text-accent-purple transition duration-300">
            Coming Soon
            <span
              class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-accent-purple"
            ></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .card {
    perspective: 1000px;
    min-height: 200px; /* Altura mínima para las cards */
  }

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem; /* Cambiado de 2xl a 1rem para garantizar que funcione */
    padding: 2rem; /* Añadido padding interno para más espacio */
  }

  .card-back {
    transform: rotateY(180deg);
    /* Color de fondo para la parte trasera */
  }

  /* Ajuste para alinear el grid a una altura específica */
  @media (min-height: 800px) {
    .grid {
      grid-template-rows: repeat(12, minmax(60px, 1fr));
    }
  }
</style>
