<section>
    
<div class="relative grid grid-cols-3 grid-rows-2 gap-0 mb-20 border-accent-purple border-4 rounded-2xl p-12 ml-20 mr-20">
    <!-- Líneas verticales -->
    <div class="absolute left-1/3 top-0 w-[2px] h-full bg-accent-purple/30"></div>
    <div class="absolute left-2/3 top-0 w-[2px] h-full bg-accent-purple/30"></div>
    
    <!-- Línea horizontal -->
    <div class="absolute left-0 top-1/2 w-full h-[2px] bg-accent-purple/30"></div>
    
    <div class="flex items-center justify-center h-40 w-full">
        <img src="js.svg" alt="JavaScript" class="w-20 h-20" />
    </div>
    <div class="flex items-center justify-center h-40 w-full">
        <img src="mysql.svg" alt="MySQL" class="w-20 h-20" />
    </div>
    <div class="flex items-center justify-center h-40 w-full">
        <img src="react.svg" alt="React" class="w-20 h-20" />
    </div>
    <div class="flex items-center justify-center h-40 w-full">
        <img src="php.svg" alt="PHP" class="w-20 h-20" />
    </div>
    <div class="flex items-center justify-center h-40 w-full">
        <img src="java.svg" alt="Java" class="w-20 h-20" />
    </div>
    <div class="flex items-center justify-center h-40 w-full">
        <img src="astro.svg" alt="Astro" class="w-20 h-20" />
        
    </div>
</div>
</section>